.containForm {
margin: 20px; 
background-color: yellow;
width: 350px;
height: 450px;
overflow: hidden;
border-radius: 20px;
box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
justify-content: center;
align-items: center;
text-align: center;
}

.btnBackHome {
    margin: 50px;  
   
}