.containDetails {
    margin: 20px;
    background-color: lightgray;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: min-content;
}

.titleDetail {

}

.containImage {

}

.containItems {

    
}

.nameDetail {

}

.containItems {

}

.itemsDetail {

}

.buttonAtHome {
    
}